.tabla{
    width: 100%;
}
table{
    margin-left : 20px;
    margin-right: 20px;
}
h1{
    margin: 25px;
}
.encabezado{
    width: 100%;
}
.titulo{
    float: left;
}
.add{
    margin-top: 20px;
    margin-right: 100px;
    float: right;
}
.mat-24{
    color: white;
}
.filter{
    float: left;
    width: 100%;
}
.campo{
    padding-left: 25px;
}
.paginador{
    margin-top: 10px;
    
}

.cajaPaginador{
    border: 1px solid rgba(0, 0, 0, 0.226);
}
.filtrado{
    padding-top: 15px;
    padding-left: 15px;
}