<h1 mat-dialog-title>Añadir Usuario</h1>
<div mat-dialog-content>
    <button mat-raised-button color="primary" class="boton" (click)="addAlumno()">Añadir Alumno</button>
    <button mat-raised-button color="primary" class="boton" (click)="addProfesor()">Añadir Profesor</button>
    <button mat-raised-button color="primary" class="boton"  (click)="addconserje()">Añadir Conserje</button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button style="color:blue"  (click)="cerrarDialog()">Cancelar</button>
</div>
