
.contenido{
    width: 300px;
}
.caja {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 400px;
}
.ancho{
    width: 300px;
}

.separador{
    border-top: 1px solid black;
    border-color: black;
    padding-top: 10px;
}