.contenido{
    width: 300px;
}
.caja {
    margin-bottom: 10px;
    margin: 0 auto;
    width: 400px;
    border-radius: 15%;
    background-color: white;
    padding: 40px;
    align-items: start;
    color: black;
}
.ancho{
    width: 400px;
}
.separador{
    border-top: 1px solid black;
    border-color: black;
    padding-top: 10px;
}
h1{
    color: black;
    text-align: center;
}