<div class="session mat-red" style="padding: 100px">
    <div class="caja" *ngIf="regis">
        <div fxLayout="column">
            <h1>Finalización de registro</h1>
        </div>
        <form [formGroup]="form" class="centrado">
            <div mat-dialog-content>

                <mat-form-field fxLayout="column">
                    <input matInput [formControl]="form.controls['birthdate']" placeholder="Fecha de nacimiento">
                </mat-form-field>

                <mat-form-field fxLayout="column">
                    <input matInput [formControl]="form.controls['password']" placeholder="Contraseña" type="password">
                </mat-form-field>

                <p style="color: red" *ngIf="pass">Las contraseñas no coinciden</p>

                <mat-form-field fxLayout="column">
                    <input matInput [formControl]="form.controls['password2']" placeholder="Repita Contraseña"
                        type="password">
                </mat-form-field>

            </div>
            <div mat-dialog-actions>
                <button class="ancho" mat-raised-button color="primary" (click)="saveUser()">Añadir</button>
            </div>
        </form>
    </div>
    <div class="caja" *ngIf="!regis" style="padding: 100px;">
        <h1>Este usuatio ya esta registrado</h1>
        <h1>Gracias por usar convalidApp</h1>
    </div>
</div>